rlplays.code-workspace

**/.vs/*/*
game/build
game/buildweb

game/coreloop/build/
game/coreloop_build/
game/tests/coreloop_build/

**/CMakeCache.txt
game/thirdparty/flatcc/bin/
game/thirdparty/flatcc/build/
game/thirdparty/flatcc/lib/
game/thirdparty/flatcc/scripts/build.cfg
game/.vs/cmake.db
game/.vs/slnx.sqlite
game/.vs/slnx.sqlite-journal
game/.vs/VSWorkspaceState.json
game/.vs/**/*
!game/.vs/ProjectSettings.json
!game/.vs/CMakeWorkspaceSettings.json
game/flatbuffers/CMakeFiles/**/*

**/build/
**/bin/
**/obj/
game/thirdparty/imgui/CMakeFiles/
game/gameui/src/imgui.ini
game/thirdparty/imgui/**/*.a
.vscode/settings.json
game/gameui/CMakeFiles/cmake.check_cache
thirdparty/puffer/**/*
game/thirdparty/puffer/*
game/rl/out/
game/rl/*.so
game/rlplays/out/
game/rlplays/vsout/
game/rlplays/*.so
game/rlplays/__pycache__/
**/*/gmon.out
game/Folder.DotSettings.user
game/gameui/src/resources/temp/*
game/data/temp/*
game/editor/alldata/temp/*
**/*/~$*.xlsx
**/*/*.diagsession
*.bak
game/rlplays/tests/.vs/**/*
.stfolder/
game/experiments/**/*
game/editor/.vs/